@font-face {
    font-family: 'Arial'; 
    src: local('Arial'),
      url(../../assets/fonts/arial/arial-regular.ttf); 
  }
  
  @font-face {
    font-family: 'Georgia'; 
    src: local('Georgia'),
      url(../../assets/fonts/georgia/georgia-regular.ttf); 
  }
  