//gradient
$color-gradient-light-brown:#5B483A;
$color-gradient-dark-brown:#262425;
//main colors
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
//light
$color-light-l: #f6f6f6;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
//dark
$color-dark-m: #b2b2b2;
$color-dark-s: #CDCDCD;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark-05x3xl:#00000080;
//other colors
$color-background-gray: rgba(41, 41, 41, 0.6);
$color-card-hover:rgba(13, 13, 13, 0.04);
// screen wight:
$monitor: 1279.5px;
$tablet: 767.5px;
$mobile: 319.5px;
